<%- include ("../partials/headerpartial.ejs"); %>

    <body>
        <%- include ("../partials/welcomenav.ejs"); %>
            <h2 class="header">About</h2>
            <div class="navbar-brand navbar-brand-about article-about">Teamo Automotive</div>
            <article class="article-about">
                <div>
                    <p class="about-text"> Welcome to Teamo Automotive where you can select and add cars to your garage.
                        Enjoy!</p>
                </div>
            </article>
    </body>

    </html>