<%- include ("../partials/headerpartial.ejs"); %>

    <body>
        <%- include ("../partials/welcomenav.ejs"); %>
            <h2 class="header-login">Sign-in</h2>
            <span id="span-invalid-password" class="span-invalid-password">Password Invalid</span>

            <!--Username and Password-->
            <form class="form-login" action="/login" method="POST">

                <div class="div-login">
                    <label for="email">Email:</label>
                    <input type="email" class="input-email" placeholder="Email" name="email">
                </div>

                <div class="div-login">
                    <label for="password">Password:</label>
                    <input type="password" class="input-password" placeholder="Password" name="password">
                </div>
                <input class="btn btn-dark input-login" type="submit" value="Submit">
            </form>
    </body>

    </html>