<%- include ("../partials/headerpartial.ejs"); %>

    <body>

        <!--Navigation bar-->
        <%- include ("../partials/welcomenav.ejs"); %>


            <h1 class="aboutheader">FAQ</h1>
            <h3 class="subheader-faq">What is Teamo Automotive?</h3>
            <article class="article-about">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim enim massa, et
                    pellentesque
                    dolor
                    mattis
                    non. Nam at ipsum dui. Integer ex ex, finibus non purus et, tincidunt vulputate nulla. Integer
                    tempus
                    vestibulum
                    faucibus. Curabitur tincidunt ligula id odio efficitur pretium. Morbi scelerisque eu urna feugiat
                    euismod.
                    Nulla
                    tempus eget tellus non interdum. Praesent augue mauris, consectetur quis vestibulum sit amet,
                    tristique
                    ut
                    urna.

                    Donec ullamcorper congue tempor. Praesent et fringilla mi. Etiam iaculis ultricies lectus, quis
                    tristique
                    nisl
                    dictum et. Sed efficitur, risus at consequat finibus, odio ex aliquam nunc, eu commodo lectus tellus
                    eget
                    lorem.
                    In hac habitasse platea dictumst. Phasellus vitae metus metus. Maecenas ultrices metus pretium orci
                    sagittis, eu
                    facilisis magna tempus. In vestibulum felis vel sapien pretium, hendrerit aliquet enim volutpat.
                    Donec
                    finibus
                    justo leo. Nam mi diam, consequat vel dolor vel, euismod ullamcorper sem. Sed at efficitur lacus.
                    Nullam
                    quis
                    pharetra libero, ut tempus ante. Phasellus euismod ligula nec placerat convallis.</p>
            </article>

    </body>

    </html>