<%- include ("../partials/headerpartial.ejs"); %>

    <body>
        <!--Navigation bar-->
        <%- include ("../partials/welcomenav.ejs"); %>
            <h2 class="header">FAQ</h2>
            <h3 class="subheader-faq">How do I add a car to my garage?</h3>
            <article class="article-about">
                <p>To add a car to my garage, select the image of the car you want to add and click on "Add To
                    Garage".
            </article>
            <h3 class="subheader-faq-2">How I remove a car form my garage?</h3>
            <article class="article-about">
                <p>To remove a car from your garage, select the garage feature on the navigation bar, click the car
                    you want to remove, and select "Remove From Garage" .</p>
                <article class="article-about-2"></article>
            </article>
            <h3 class="subheader-faq-3">How I access the user settings?</h3>
            <article class="article-about">
                <p>To access the user settings, click the user icon on the right side of the navigation bar.</p>
            </article>
    </body>

    </html>