<%- include ("../partials/headerpartial.ejs"); %>

    <body>
        <%- include ("../partials/welcomenav.ejs"); %>
            <h2>Registration</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim enim massa, et pellentesque
                dolor
                mattis
            </p>
            <form action="/register" method="POST">
                <p class="emailtext">E-mail:</p><input class="email" type="email" placeholder="email" name="email" />
                <p class="usernametext">Username:</p><input class="username" type="text" name="username" />
                <p class="passwordtext">Password:</p><input class="password" type="password" name="password" />
                <p class="admintext">Administrator Privileges</p><input type="checkbox" name="admin" />
                <!-- <p class="reentertext">Re-enter Password:</p><input class="reenter" type="text" name="re-enter password"
         /> -->
                <!--Button-->
                <input class="submitbutton" type="submit" value="Submit">
            </form>
    </body>

    </html>