<%- include ("../partials/headerpartial.ejs"); %>

    <body>
        <%- include ("../partials/welcomenav.ejs"); %>
            <h2 class="header">Registration</h2>
            <p class="p-register_content">Thank you for choosing to sign up with Teamo Automotives!
            </p>
            <form class="form-register" action="/register" method="POST">
                <div class="div-register">
                    <label for="email">Email:</label>
                    <input type="email" class="input-email" placeholder="Email" name="email">
                </div>
                <div class="div-register">
                    <label for="username">Username:</label>
                    <input type="text" class="input-username" placeholder="Username" name="username">
                </div>
                <div class="div-register">
                    <label for="password">Password:</label>
                    <input id="password" type="password" class="input-password" placeholder="Password" name="password">
                </div>
                <div>
                    <label for="retype-password">Retype Password:</label>
                    <input id="retypepassword" type="password" name="retype-password" id=""
                        placeholder="Retype Password">
                </div>
                <div>
                    <span id="passwordcheck"></span>
                </div>




                <div class="div-admin">
                    <label for="admin">Administrator Priveleges</label>
                    <input class="checkbox-admin" type="checkbox" name="admin" />
                </div>
                <!-- <p class="reentertext">Re-enter Password:</p><input class="reenter" type="text" name="re-enter password"
         /> -->
                <!--Button-->
                <input class="btn btn-dark" type="submit" value="Submit">
            </form>
    </body>

    </html>