<%- include ("../partials/headerpartial.ejs"); %>

    <body>
        <h1>New cars woo</h1>
        <%- include ("../partials/navbarPartial.ejs"); %>

            <main>
                <form action="/addnew" method="Post">
                    <input type="text" name="manufacturer" placeholder="Make" />
                    <input type="text" name="country" placeholder="country" />
                    <input type="text" name="model" placeholder="model" />
                    <input type="text" name="year" placeholder="year" />
                    <input type="submit" value="Add Car" />
                </form>
            </main>

    </body>

    </html>