<%- include ("../partials/headerpartial.ejs"); %>

    <body>

        <%- include ("../partials/navbarPartial.ejs"); %>

            <main>
                <section class="section-header-addnew">
                    <h1 class="header-addnew">Add New Car</h1>
                </section>

                <section class="section-form-addnew">
                    <form class="form-addnew" action="/addnew" method="Post">
                        <div class="div-addnew">
                            <label for="manufacturer">Make:</label>
                            <input type="text" name="manufacturer" placeholder="Make" />
                        </div>
                        <div class="div-addnew">
                            <label for="country">Country:</label>
                            <input type="text" name="country" placeholder="Country" />
                        </div>
                        <div class="div-addnew">
                            <label for="model">Model:</label>
                            <input type="text" name="model" placeholder="Model" />
                        </div>
                        <div class="div-addnew">
                            <label for="year">Year:</label>
                            <input type="text" name="year" placeholder="Year" />
                        </div>
                        <input class="btn btn-dark input-addnew" type="submit" value="Add Car">
                    </form>
                </section>
            </main>

    </body>

    </html>