<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>New cars woo</h1>

    <main>
        <form action="/addnew" method="Post">
            <input type="text" name="manufacturer" placeholder="Make" />
            <input type="text" name="country" placeholder="country" />
            <input type="text" name="model" placeholder="model" />
            <input type="text" name="year" placeholder="year" />
            <input type="submit" value="Add Car" />
        </form>
    </main>

</body>

</html>