<%- include ("partials/headerpartial.ejs"); %>

    <body>
        <%- include ("partials/welcomenav.ejs"); %>
            </div>
            </nav>
            <h2 class="welcome-title">Collect The Cars Of Your Dreams.</h2>
            <section class="section-welcome">
                <div class="img-fade">
                    <img class="audi-r8-back"
                        src="https://cdn.carbuzz.com/gallery-images/2021-audi-r8-coupe-rear-angle-view-carbuzz-803895.jpg">

                    <img class="lambo-EVO-back"
                        src="https://squir.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/l/a/lamborghini_huracan_evo_rwd_2021_0000.jpg">
                    <img class="ford-mustang-back" src="https://mustangattitude.com/mustang/2021/2021_00006_02.jpg">

                    <img class="bmw-M4-front"
                        src="https://cdn.motor1.com/images/mgl/RPrgg/s3/bmw-m4-competition-kith-design-study-edition-lead-image.jpg">
                </div>
            </section>
            <div class="div-btn-signup">
                <a class="btn btn-dark a-btn-signup" href="/register" role="button">Sign Up</a>
            </div>

    </body>