<%- include ("partials/headerpartial.ejs"); %>



    <body>

        <h1>CarBank</h1>
        <%- include ("partials/welcomenav.ejs"); %>
            <h2>Collect the car of your dreams.</h2>
            <div class="fade-audi"><img class="audi-r8-back"
                    src="https://cdn.carbuzz.com/gallery-images/2021-audi-r8-coupe-rear-angle-view-carbuzz-803895.jpg"><img
                    class="lambo-EVO-back"
                    src="https://squir.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/l/a/lamborghini_huracan_evo_rwd_2021_0000.jpg">
                <img class="ford-mustang-back" src="https://mustangattitude.com/mustang/2021/2021_00006_02.jpg"><img
                    class="bmw-M4-front"
                    src="https://cdn.motor1.com/images/mgl/RPrgg/s3/bmw-m4-competition-kith-design-study-edition-lead-image.jpg">

            </div>
            <a href="/register">Sign up</a>
    </body>

    </html>