<%- include ("partials/headerpartial.ejs"); %>

    <body>
        <%- include ("partials/welcomenav.ejs"); %>
            </div>
            </nav>
            <h2 class="welcome-title">Collect The Cars Of Your Dreams.</h2>
            <section class="section-welcome">
                <div id="welcome-images" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class=" carousel-item active">
                            <img class="d-block w-100"
                                src="https://cdn.motor1.com/images/mgl/3MokL/s3/lamborghini-cost.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100"
                                src="https://www.motortrend.com/uploads/sites/5/2019/10/2020-Aston-Martin-Vantage-AMR-Manual-6.jpg?fit=around%7C875:492.1875 "
                                alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100"
                                src="https://o.aolcdn.com/images/dims3/GLOB/legacy_thumbnail/800x450/format/jpg/quality/85/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2020-10/1a1ee5e0-0776-11eb-aefd-b8dd1f37f0b1"
                                alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100"
                                src="https://cdn.motor1.com/images/mgl/RPrgg/s3/bmw-m4-competition-kith-design-study-edition-lead-image.jpg"
                                alt="Fourth slide">
                        </div>
                    </div>
                </div>
            </section>
            <div class="div-btn-signup">
                <a class="btn btn-dark a-btn-signup" href="/register" role="button">Sign Up</a>
            </div>