<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>CarBank</h1>
    <h3 class="welcome">Welcome</h3> <input class="signout" type="submit" value="Sign out">

    <!--Navigation bar-->
    <nav> <a href="/index"> Home |</a><a href="/about"> About </a> <a href="/collection">| Your collection </a>
        <a href="help"> | Help</a>
        <h2 class="matchingvehichlesheader">Matching vehicles</h2>
        <!--Images-->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnqjoEXDCbmYd0P9f7l0DL5pDgpE43T_B9gA&usqp=CAU">
        <input type="submit" value="Details">
        <input type="submit" value="Delete">
        <img src=" ">
        <!--Images-->
        <img src=" ">
        <!--Button-->
        <input type="submit" value="Details">
        <input type="submit" value="Delete">
        <h4>Feature </h4>

</body>

</html>