<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>CarBank</h1>
    <h3 class="welcome">Welcome</h3> <input class="signout" type="submit" value="Sign out">

    <!--Navigation bar-->
    <nav> Home | About | Your Collections | Help </nav>
    <h2 class="matchingvehichlesheader">Matching vehicles</h2>
    <!--Images-->
    <ul>
        <% cars.forEach(car=> { %>
            <li>
                <a href="/site/<%=car._id%>">
                    <%= car.manufacturer %>
                        <%= car.model %>
                            <%= car.country %>
                </a>
            </li>
            <% })%>
    </ul>
</body>

</html>