<%- include ("../partials/headerpartial.ejs"); %>

    <body>
        <!--Navigation bar-->
        <%- include ("../partials/navbarPartial.ejs"); %>
            <h1 class="aboutheader">FAQ</h1>
            <h3 class="subheader-faq">How do I add a car?</h3>
            <article class="article-about">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim enim massa, et
                    pellentesque dolor mattis non. Nam at ipsum dui. Integer ex ex, finibus non purus et, tincidunt
                    vulputate nulla.
                    ntegetempus
                    vestibulum
                    faucibus. Curabitur tincidunt ligula id odio efficitur pretium. Morbi scelerisque eu urna feugiat
                    euismod.
                    Nulla
                    tempus eget tellus non interdum. Praesent augue mauris, consectetur quis vestibulum sit amet,
                    tristique
                    ut
                    urna.
            </article>

            <h3 class="subheader-faq-2">How I remove a car?</h3>
            <article class="article-about-2">

            </article>
            <h3 class="subheader-faq-3">How I delete my account?</h3>
            <article class="article-about-3">

            </article>
    </body>

    </html>