<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home Page</h1>
    <form action="" method="GET">
        <label for="car-select">filter by manufacturer:</label>

        <select name="manufacturer" id="">
            <option value="">choose a manufacturer</option>
            <option value="Ford">Ford</option>
            <option value="Lambo">Lambo</option>
            <option value="Audi">Audi</option>
            <option value="BMW">BMW</option>
            <option value="Jaguar">Jaguar</option>
        </select>
        <input type="submit" value="filter" />
    </form>
    <form action="" method="GET">
        <label for="car-select">filter by model:</label>

        <select name="model" id="">
            <option value="">choose a model</option>
            <option value="Mustang">Mustang</option>
            <option value="countache">countache</option>
            <option value="R8">R8</option>
            <option value="M4">M4</option>
            <option value="XF">XF</option>
        </select>
        <input type="submit" value="filter" />
    </form>
    <form action="" method="GET">
        <label for="car-select">filter by country:</label>

        <select name="country" id="">
            <option value="">choose a model</option>
            <option value="USA">USA</option>
            <option value="Italy">Italy</option>
            <option value="UK">UK</option>
            <option value="Germany">Germany</option>
        </select>
        <input type="submit" value="filter" />
    </form>





</body>

</html>