<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>CarBank</h1>
    <!--Navigation bar-->
    <nav> Home | About | Your Collections | Help </nav>
    <h2>Start collecting your cars!</h2>
    <form action="/home" method="POST">
        <!-- <select name="manufacturer" id="">
            <option value="Ford">Ford</option>
            <option value="Lambo">Lambo</option>
            <option value="Audi">Audi</option>
            <option value="BMW">BMW</option>
            <option value="Jaguar">Jaguar</option>
        </select> -->
        <input type="text" name="manufacturer" placeholder="manufacturer" />
        <input type="submit" value="Search" />
    </form>
    <img src=" ">

</body>

</html>