<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>CarBank</h1>
    <h3>Welcome</h3>
    <!--Navigation bar-->
    <nav> Home | About | Your Collections | Help </nav>
    <h2>Matching vehicles</h2>
    <ul>
        <% cars.forEach(car=>{%>
            <li>
                <a href="/site/<%= car._id %>">
                    <%=car.manufacturer%>
                </a>
            </li>
            <% }) %>
    </ul>
    <!--Images-->
    <img src=" ">
    <h4>Car name</h4>
    <img src=" ">
    <h4>Feature </h4>
    <!--Button-->
    <input type="submit" value="Details">
</body>

</html>