
*{
    box-sizing: border-box;
    padding: none;
    margin: none;
}

body
{
    /* display: block; */
    /* text-align: center; */
    height: 100vh;
    background-color: lightskyblue;
}
h1
{
text-align: left;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2{
text-align: center;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
nav{
    position: relative;
    top: -50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}



main{
   
    height: 75%;
    
}
ul {
    display: inline-flex;

} 

li{
    list-style-type: none;
}
.input-logout{
    border: none;
}
.signin
{
    position: relative;
    top: -300px;
    right: -500px;
    color: white;
    background-color: blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.signup
{
    position: relative;
    top: 20px;
    right: -5px;
    color: white;
    background-color: blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.username
{
    position: relative;
    top: 20px;
    right: 0px;
}
.reenter
{
    position: relative;
    top: 80px;
    right: -35px;
}
.reenter
{
    position: relative;
    top: -20px;
}
.password{
    position: relative;
    top: 0px;
    left: -1px;
}
.usernametext
{
    position: relative;
    left: -160px;
    top: 60px;
}
.passwordtext
{
    position: relative;
    left: -158px;
    top: 40px;
}
.reentertext
{
    position: relative;
    left: -190px;
    top: 20px;
}

.submitbutton{
    position: relative;
    left: -90px;
    top: 50px;
}

.email{
    position: relative;
    left: 0px;
    top: 40px;
}
.emailtext
{
    position: relative;
    left: -146px;
    top: 80px;
}
.aboutheader
{
    text-align: center;
}
.signout
{
    position: relative;
    top: -90px;
    right: -500px;
    color: white;
    background-color: blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.welcome{
position: relative;
left: -200px;
}
.matchingvehichlesheader{
position: relative;
top: -60px;
    }
 .audi-r8-back
    {
        position: relative;
        right: -60px;
        margin-bottom: 20px;
        width: 300px;
        height: 200px;
    }

 .lambo-EVO-back
    {
        position: relative;
        top: -10px;
        right: -60px;
        width: 300px;
        height: 200px;
    }

.ford-mustang-back
    {
        position: relative;
        top: -10px;
        right: -60px;
        width: 300px;
        height: 200px;
    }
 .bmw-M4-front
    {
        position: relative;
        top: -10px;
        right: -60px;
        width: 300px;
        height: 200px;
    }


.navlinks_left {
    display: flex;
    width: 400px;
    }
.navbar-text
    {
    position: relative;
    right: -500px;
    }
 /* @font-face {
 font-family: 'Damion', cursive;
    src: url(https://fonts.googleapis.com/css2?family=Damion&display=swap);
}
     */
.navbar-brand
{
    font-family: 'Damion', cursive;
}

.navlinks_left {
    display: flex;
    width: 400px;
 }

.gallery {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
        
}

.card {
        
    width: 30%;
    max-width: 400px;
    max-height: 600px;
    height: auto;
    display: grid;
    place-items: center; 
        
        
}

.image-car {
    object-fit:cover;
    max-width: 470px;
    max-height: 350px;
}

.image-car{
    height: 55%;
}

.info-car{
    height: 5%;
}



.car-show-card {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.car-show-img {
    max-width: 875px;
    max-height: 584px;
    width: auto;
    height: auto;
}

.car-show-info {
    display: flex;
    flex-direction: column;
}