
*{
    box-sizing: border-box;
    padding: none;
    margin: none;
}

body
{
    /* display: block; */
    /* text-align: center; */
    height: 100vh;
    background-color: #ebeced;
    font-family:'Asap Condensed', sans-serif;
}
h1
{
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

main{
        border-top: 4px solid rgb(83, 82, 82);
}


ul {
    display: inline-flex;

} 

li {
    list-style-type: none;
}

h3{ 
    display: flex;
    justify-content: center;   
}

/* === NavBar === */
.navbar {
    background-color: rgb(28, 26, 26);
    height: 125px;
    border-bottom: 4px solid rgb(83, 82, 82);
    
}

.banner {
    height: 175px;
    width: 100vw;
    object-fit: cover;
    background-position: top;
}

.div-nav-username{
    color: whitesmoke;
    margin-right: 12px;
    margin-top: 19px;
}

.input-logout {
    border: none;
    margin-top: -12px;
}
/* === Welcome Page === */
.welcome-title{
    padding: 20px;
    margin-top: 50px;
}

.signinwelcomenav {
    text-decoration: none;
    color: whitesmoke;
}


.signup {
    position: relative;
    top: 20px;
    right: -5px;
    color: white;
    background-color: blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.section-welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.div-btn-signup{
    width: 100vw;;
    display: flex;
}

.carousel {
    max-height: 375px;
    max-width: 500px;
    height: auto;
}



.a-btn-signup {
    margin: auto;
    width: 350px;
    padding: 10px;
    margin-bottom: -35px;
    
}

.subheader-faq{
    margin-bottom: 25px;
}
/* .audi-r8-back {
    position: relative;
    right: -60px;
    margin-bottom: 20px;
    width: 300px;
    height: 200px;
}

.lambo-EVO-back {
    position: relative;
    top: -10px;
    right: -60px;
    width: 300px;
    height: 200px;
}

.ford-mustang-back {
    position: relative;
    top: -10px;
    right: -60px;
    width: 300px;
    height: 200px;
}
 .bmw-M4-front {
    position: relative;
    top: -10px;
    right: -60px;
    width: 300px;
    height: 200px;
} */
/* === Login === */
.signin {
    position: relative;
    top: -300px;
    right: -500px;
    color: white;
    background-color: blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.username {
    position: relative;
    top: 20px;
    right: 0px;
}

.reenter {
    position: relative;
    top: -20px;
}
.password {
    position: relative;
    top: 0px;
    left: -1px;
}



.submitbutton {
    position: relative;
    left: -90px;
    top: 50px;
}

.email {
    position: relative;
    left: 0px;
    top: 40px;
}
.emailtext {
    position: relative;
    left: -146px;
    top: 80px;
}
.aboutheader {
    text-align: center;
}
.signout {
    position: relative;
    top: -90px;
    right: -500px;
    color: white;
    background-color: blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.welcome {
    position: relative;
    left: -200px;
}

.matchingvehichlesheader {
    position: relative;
    top: -60px;
    }

.nav-link {
    color: whitesmoke;
}

.navlinks_left {
    display: flex;
    width: 400px;
    color: whitesmoke;
}
.navbar-text {
    position: relative;
    right: -670px;
    color: whitesmoke;
}
 /* @font-face {
 font-family: 'Damion', cursive;
    src: url(https://fonts.googleapis.com/css2?family=Damion&display=swap);
}
     */


.navbar-brand {
    font-family: 'Damion', cursive;
    color: whitesmoke;
    font-size: 50px;
}

.navlinks_left {
    display: flex;
    width: 400px;
 }

.section-select-car{
    margin:auto;
    display: block;
    width: 435px;
    padding: 15px;      
}

.form-select-car {
    padding: 5px; 
}

.select-car {
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

.input-logout
{
    display: grid;
    margin-right: 20px;
    margin-bottom: -21px;
    color: whitesmoke;
    background-color: rgb(28, 26, 26);
    
}

.input-logout:hover {
    color:#fdc500;
    text-decoration: none;
}


.header-show{
    margin-top: 45px;
}


.div-addnew {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.header-garage{
    margin-top: 45px;
}


.div-admin {
    width: 200px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}





.btn-removecar{
    background-color: rgb(209, 23, 23);
    color: whitesmoke;
}

/* === Register === */
.form-register{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.div-register{
    align-self: flex-end;
}

.checkbox-admin{
    margin-left: 8px;
}

.input-email{
    padding:3px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.input-username{
    padding:3px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.input-password{
    padding:3px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.retypepassword{
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.header-registration{
    margin-top: 40px;
    padding: 10px;
}

.p-register_content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 35px;
}

.reenter {
    position: relative;
    top: 80px;
    right: -35px;
}

.passwordcheck{
    color: red;    
}
/* === Login === */
.form-login {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.header-login{
    margin-top: 40px;
    padding: 10px;
    margin-bottom: 35px;
}

.div-login{
    align-self: flex-end;
}

.input-login{
    margin-top: 25px;
}

.span-invalid-password{
    /* justify-self: center; */
    align-self: flex-end;
    color: red;
    margin-top: 10px;    

}

/* === index/adminhome === */
.header-browse-cars{
    margin-top: 45px;
}

.gallery {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px;
    justify-content: center;
    width: 100vw;
}

.card {
    display: flex;
    flex-direction: column;    
    flex: 1 0 30%;
    max-width: 400px;
    min-width: 370px;
    max-height: 600px;
    height: auto;
    padding: 15px;
    text-decoration: none;
    color: rgb(44, 41, 41);
    transition: all .1s ease-in-out; 
    border: 2px solid rgb(192, 190, 190); 
    background-color: whitesmoke; 
}

.form-select-car{
    display: flex;
    justify-content: center;
}

.select-car{
    margin-left: 10px;
}


.card:hover { 
    color: rgb(44, 41, 41);
    transform: scale(1.01); 
}

.nav-link:hover { 
    color: whitesmoke;
    transform: scale(1.01);
}

.card:link {
    color: rgb(44, 41, 41);
    text-decoration: none;
}

.nav-link:link {
    color: whitesmoke;
    text-decoration: none;
}

.card:visited {
    color: rgb(44, 41, 41);
    text-decoration: none;
}

.nav-link:visited {
    color: whitesmoke;
    text-decoration: none;
}

.card:hover {
    color: rgb(44, 41, 41);
    text-decoration: none;
}

.nav-link:hover {
    color:#fdc500;
    text-decoration: none;
}
.card:active {
    color: rgb(44, 41, 41);
    text-decoration: none;
}

.nav-link:active {
    color: whitesmoke;
    text-decoration: none;
}

.signinwelcomenav:hover {
    color:#fdc500;
    text-decoration: none;
}
.image-car { 
    object-fit:cover;
    display: flex;
    max-height: 250px;
    height: 55%;
    max-width: 370px;
    min-width: 370px;
    padding-top: 10px;
}

.info-car {
    height: 5%;
    
}

.car-show-card {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.car-show-img {
    max-width: 875px;
    max-height: 584px;
    width: auto;
    height: auto;
    border-radius: 5px;
}

.car-show-info {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-top: 200px;
}

.car-show-info > li {
    padding: 5px;
    
}

.div-avatar{
    color:whitesmoke;
    margin-right: 30px;
    
}

/* === Add New Car === */
.section-header-addnew{
    display:flex;
    width: 100vw;
    justify-content: center;
}

.header-addnew{
    margin-top: 45px;
}

/* .section-form-addnew{
    display: flex;
    width: 100vw;
    justify-content: center;
} */

.form-addnew{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

}

.form-addnew > input {
    width: 200px;
    padding: 5px;
    margin-top: 10px;
    
}

.div-addnew{
    align-self: flex-end;
    gap: 15px;
    margin-top: 10px;
}

.input-addnew{
    align-self: center;
    margin-right: -12px;
}


.aboutheader{
    margin-top: 45px;
    margin-bottom: 45px;
}

.article-about {
    width: 100vw;
    display: flex;
    justify-content: center;

}

.article-about > p {
    max-width: 60%;
}
/* .img-fade img {
    position:absolute;
    top:0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}


.lambo-EVO-back {
    -webkit-animation-delay: -4s;
   
}
.ford-mustang-back {
    -webkit-animation-delay: -2s;
    
} */